/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: #fff;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

html[data-theme='dark'] .heroBanner{
  background-image: url(/Users/lauravavasseur/Desktop/work/code/git/documentation/my-website/static/img/background-dark.png);
  background-repeat: no-repeat;
  background-size: 200%;;
  }

  html[data-theme='light'] .heroBanner{
    background-image: url(/Users/lauravavasseur/Desktop/work/code/git/documentation/my-website/static/img/background-light.png);
    background-repeat: no-repeat;
    background-size: 200%;;
    }